.input_form {
  display: grid;
  font-family: "work_sans";
  grid-auto-flow: column;
  justify-content: flex-start;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.error-container {
  border: 1px solid red;
}
.input_gap {
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
}
.form .input_form_message {
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.input_form_message {
  height: 80px;
}

.inputGroup input {
  border: none;
  background: none;
  width: 100%;
  outline: none;
  font-family: var(--font-small);
}
.overall_form {
  display: grid;
  /* grid-auto-flow: column; */
  column-gap: 20px;
  row-gap: 25px;
}
.sub_form {
  display: grid;
  background: white;
  border-radius: 10px;
  max-width: 700px;
  row-gap: 25px;
}
.form_button {
  border: 1px solid #00a9ff;
  color: #00a9ff;
  padding: 10px;
  display: grid;
  align-items: center;
  border-radius: 10px;
}
.form button {
  border: none;
  outline: none;
  background: none;
  color: #00a9ff;
  cursor: pointer;
  font-family: var(--font-small);
}
/* textarea {
  border: none;
  outline: none;
  font-family: var(--font-work);
  height: 60px;
  width: 100%;
} */
.success {
  display: grid;
  font-family: "roboto";
  color: green;
  justify-items: center;
}
.error {
  padding: 10px 0;
  color: red;
}
.req {
  display: grid;
  column-gap: 24px;
  grid-auto-flow: column;
}

/* Mobile View  */

@media (min-width: 320px) and (max-width: 650px) {
  .overall_form {
    row-gap: 10px;
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .input_form {
    max-width: 100%;
    display: grid;
    justify-content: flex-start;
    column-gap: 10px;
  }
  .input_gap {
    display: grid;
    grid-auto-flow: row;
    row-gap: 14px;
  }
  .req {
    display: grid;
    grid-auto-flow: row;
    row-gap: 14px;
  }
}

/* Tab View  */

@media (min-width: 650px) and (max-width: 1024px) {
  .overall_form {
    display: grid;
    grid-auto-flow: row;
    column-gap: 10px;
    row-gap: 15px;
  }
  .input_form {
    max-width: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
  }
}
