/* second section */
.secondsection {
    display: grid;
    grid-auto-flow: row;
}

.mobileanimate {
    display: none;
}

.whoweare {
    display: grid;
    width: 632px;
    height: 360px;
    align-self: flex-end;
}

.specialheading {
    color: #00A9FF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #00A9FF;
    border-bottom: 1px solid #00A9FF;
    width: fit-content;
}

.specialheading1 {
    color: #00A9FF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #00A9FF;
    border-bottom: 1px solid #00A9FF;
    width: fit-content;
}

.aboutus {
    display: grid;
    grid-auto-flow: column;
}


.dot {
    color: #00A9FF;
}

/* roadmap of second section */

.roadmap {
    display: grid;
    grid-auto-flow: row;
    padding: 20px;
}

.route {
    position: relative;
    border: 1px solid var(--Primary, #00A9FF);
    width: 880px;
    height: 130px;
    justify-self: center;
    border-bottom: none;
    border-radius: 5px;
}

.middleline {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    height: 220px;
    background-color: #00A9FF;
    width: 1px;
}

.grids {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    justify-items: center;
    gap: 20px;
}

.grid1 {
    display: grid;
    grid-auto-flow: row;
    width: 400px;
    height: 586px;
    border: 1px solid var(--Primary, #00A9FF);
    border-radius: 10px;
}

.grid2 {
    display: grid;
    grid-auto-flow: row;
    width: 400px;
    height: 496px;
    border: 1px solid var(--Primary, #00A9FF);
    border-radius: 10px;
    align-self: center;
    margin-top: auto;
}

.text {
    height: 506px;
    width: 320px;
    align-content: center;
    justify-self: center;
}

.text2 {
    height: 416px;
    width: 320px;
    place-self: center;
}

.subhead {
    line-height: 16.42px;
}

.grid1:hover,
.grid2:hover {
    background-color: #00A9FF;
    /* color: #FFFFFF; */
}

.grid1:hover p,
.grid1:hover h3,
.grid2:hover p,
.grid2:hover h3 {
    color: #FFFFFF;
    /* Change text color on hover */
}

.grid1:hover img,
.grid2:hover img {
    filter: brightness(0) invert(1);
    /* Inverts the image colors */
}

/* third section css */
.thirdsection {
    display: grid;
    grid-auto-flow: column;
    background-color: #ECFAFF;
    align-items: center;
    padding: 50px;
}

.getstarted p {
    max-width: 30rem;
}

.inline {
    color: #00A9FF;
    font-weight: 600;
}

.right {
    display: grid;
}

.form {
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #CBECFD;
    width: 688px;
    height: 360px;
    display: grid;
    grid-auto-flow: row;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form:hover {
    transform: scale(1.05);
    /* Slightly increase size */
    box-shadow: 0px 20px 50px 0px #00A9FF33;
}

.namesub {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
}

.name {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 44px;
    width: 300px;
    display: grid;
    grid-auto-flow: column;
}

.name>input {
    outline: none;
    border: none;
    border-radius: 10px;
}

.formline {
    height: 20px;
    background-color: #AAAAAA;
    width: 1px;
    align-self: center;
}

.emailphone {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
}

.name img {
    justify-self: center;
    align-self: center;
}

.message {
    align-content: center;
    justify-self: center;
}

.message>input {
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 80px;
    width: 624px;
}

.form>button {
    background-color: #FFFFFF;
    color: #00A9FF;
    border: 1px solid var(--Primary, #00A9FF);
    border-radius: 10px;
    width: 624px;
    height: 40px;
    align-content: center;
    justify-self: center;
}


/* fourth section */
.fourthsection {
    display: grid;
    grid-auto-flow: column;
}

.faq {
    display: grid;
    grid-auto-flow: row;
    height: 528px;
    width: 688px;
}

.rightsection {
    display: grid;
    grid-auto-flow: row;
    width: 464px;
    height: 780px;
    text-align-last: center;
}

.question {
    display: grid;
    grid-auto-flow: column;
    border-radius: 10px;
    border: 1px solid #CBECFD;
    width: 688px;
    height: 72px;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .secondsection {
        justify-items: center;
    }
    .aboutus {
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
    }
    .whoweare {
        display: grid;
        height: auto;
    }
    
    .roadmap {
        width: fit-content;
    }

    .route {
        display: none;
    }

    .grids {
        display: grid;
        grid-auto-flow: row;
        position: relative;
        justify-items: center;
        gap: 20px;
    }

    .grid1 {
        display: grid;
        grid-auto-flow: row;
        width: 700px;
        height:auto;
        border: 1px solid var(--Primary, #00A9FF);
        border-radius: 10px;
    }
    
    .grid2 {
        display: grid;
        grid-auto-flow: row;
        width: 700px;
        height:auto;
        border: 1px solid var(--Primary, #00A9FF);
        border-radius: 10px;
    }

    .text , .text2  {
        width:600px;
        
        align-content: center;
        justify-self: center;
    }

    .text2 > p {
        font-size: 16px;
    }

    .text > p{
        font-size: 16px;
    }

    .thirdsection {
        display: grid;
        grid-auto-flow: row;
        width: fit-content;
}
}
@media (max-width: 480px) {

    /* second section */

    .Animation {
        display: none;
    }

    .mobileanimate {

        display: grid;
        place-items: center;
        height: 50vh;
    }

    .aboutus {
        display: block;
        grid-auto-flow: row;
    }

    .whoweare {
        width: 312px;
        height: 414px;
        padding: 20px;
    }

    .route {
        display: none;
    }

    .grids {
        display: grid;
        grid-auto-flow: row;
        gap: 10px;
    }

    .grid1 {
        height: 464px;
        width: 312px;
    }

    .grid2 {
        height: 384px;
        width: 312px;
    }

    .text2 {
        width: 280px;
        height: 352px;
    }

    .text {
        height: 432px;
        width: 280px;
        padding: 10px;
    }

    .whoweare>h2 {
        font-size: 24px;
        line-height: 28.1px;
    }

    .text,
    .text2>h3 {
        font-size: 16px;
        line-height: 18px;
    }

    /* third section */

    .thirdsection {
        grid-auto-flow: row;
        padding: 20px;
        max-width: fit-content;
        background-color: #ECFAFF;
    }

    .getstarted {
        max-width: fit-content;
    }

    .namesub {
        grid-auto-flow: row;
        ;
        row-gap: 15px;
    }

    .name {
        height: 38px;
        width: 280px;
    }

    .form {
        height: 392px;
        width: 312px;
        justify-self: center;
    }

    .emailphone {
        grid-auto-flow: row;
        row-gap: 15px;
    }

    .message>input {
        width: 280px;
        height: 80px;
    }

    .form>button {
        width: 280px;
        height: 40px;

    }
}