.linkpage1 {
  display: grid;
  grid-auto-flow: row;
}

.maingrid {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.subgrid {
  padding: 15px;
  border: 1px solid #cbecfd;
  border-radius: 10px;
}

.oddGrid {
  grid-column: 1; /* Odd-numbered grids in the first column */
}

.evenGrid {
  grid-column: 2; /* Even-numbered grids in the second column */
}

.minihead {
  margin-bottom: 20px;
  display: grid;
  row-gap: 20px;
  padding: 20px 0;
  font-family: var(--font-work);
}
.minihead p {
  font-family: var(--font-work);
}
.minihead h2 {
  font-family: var(--font-roboto);
}
.gridContent {
  display: grid;
  row-gap: 10px;
}
.gridContent h4 {
  font-family: var(--font-roboto);
}
.gridContent p {
  font-family: var(--font-work);
  color: #777777;
}

.dot {
  color: #00a9ff;
}
@media (min-width: 320px) and (max-width: 650px) {
  .maingrid {
    display: unset;
  }
  .subgrid {
    display: grid;
    grid-auto-flow: row;
  }
  .gridContent {
    display: grid;
    grid-auto-flow: row;
  }
  .gridContent h4 {
    font-size: 16px;
  }
  .gridContent p {
    font-size: 12px;
  }
  .privacy {
    padding: 10px 10px 0 10px;
  }
  .minihead p:nth-child(3) {
    font-size: 14px;
  }
}
