.linkpage1 {
    display: grid;
    grid-auto-flow: row;
    margin: 30px;
}

.maingrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; 
}

.subgrid {
    padding: 15px;
    border: 1px solid #CBECFD;
    border-radius: 10px;
}

.oddGrid {
    grid-column: 1; /* Odd-numbered grids in the first column */
}

.evenGrid {
    grid-column: 2; /* Even-numbered grids in the second column */
}

.minihead {
    margin-bottom: 20px;
}

.linkpage1 {
    padding: 20px;
}

.dot {
    color: #00A9FF;
}


