li {
    list-style: none;

}

li a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h1, h2,h3, h4, h5, h6 {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: 500;

    line-height: 18px;
    text-align: left;

}

.specialheading {
    color: #00A9FF;
    font-size: 14px;
    font-weight: 600;
}

