/* css to display the background image */
.hero {
    background: url('/hero.svg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-auto-flow: row;
    position: relative;
    padding: 20px;
    height: 952px;
}

.mobilehero {
    display: none;
}



/* First section css */


.specialheading {
    color: #00A9FF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #00A9FF;
    /* Add a top border */
    border-bottom: 1px solid #00A9FF;
    /* Add a bottom border */
    display: inline-block;
    /* Ensure the borders fit the text length */
}

.first_section {
    width: 550px;
    height: 582px;
}

.dot {
    color: #00A9FF;
}

.first_section>h1 {
    font-size: 64px;
    line-height: 74.94px;
}

.heropara {
    overflow-wrap: break-word; /*breaks the paragraph accordingly*/
    max-width: 24rem;
}

.getintouch {
    color: #00A9FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.42px
}

/* Media query for tablets */
    @media (max-width: 768px) {
        .hero {
            padding: 15px;
            width:auto;
            height: auto; /* Adjust the height to auto to fit content */
        }
    
        
        .specialheading {
            font-size: 12px;
            padding: 4px 0px;
            line-height: 14px;
        }
        
        .first_section > h1 {
            font-size: 48px;
            line-height: 56px;
        }
        
        .heropara {
            width: 18rem;
        }
        
        .getintouch {
            font-size: 12px;
            line-height: 14px;
        }
        
        .mobilehero {
            display:none;
        }
    }

/* Media queries for phone (480px and below) */
@media (max-width: 480px) {
    .mobilehero {
        display: block;
    }

    /* .wholepage {
        max-width: fit-content;
    }
     */
    .first_section > h1 {
        font-size: 32px;
        line-height: 37.47px;
    }

    .hero {
        background: none;
        width: fit-content;
        background-color: #E9F6FD;
        height: auto;
    }

    .first_section {
        display: block;
        width: 312px;
        height: 400px;
    }

    .specialheading {
        font-size: 12px;
        line-height: 14px;
        padding: 3px 0;
    }

    .getintouch {
        font-size: 12px;
        line-height: 14px;
    }
}