/* Header page css*/

/* .header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    border-bottom: 1px solid #CBECFD;
    height: 70px;
} */

/* .header>button {
    background-color: #00A9FF;
    color: #FFFFFF;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 134px;
    height: 40px;
    cursor: pointer;
} */

.top_header {
  max-width: 100%;
  display: grid;
  justify-items: center;
}

.sub_header {
  display: grid;

  width: 90%;
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 24px 0px;
}

.header_button button {
  width: 134px;
  height: 40px;
  border-radius: 10px;
  padding: 24px, 12px, 24px;
  gap: 10px;
  border: none;
  outline: none;
  color: white;
  background: #00a9ff;
}
.sub_header .header_line {
  height: 2px;
  background-color: #cbecfd;
}

@media (max-width: 768px) {
  .header > button {
    width: 100px;
    height: 35px;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .header {
    max-width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .header > button {
    width: 105px;
    height: 30px;
    font-size: 12px;
  }
}
