/* Header page css*/

.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    border-bottom: 1px solid #CBECFD;
    height: 70px;
}

.header>button {
    background-color: #00A9FF;
    color: #FFFFFF;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 134px;
    height: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header>button {
        width: 100px;
        height: 35px;
    }
}

@media (max-width: 480px) {

    .header {
        max-width: 100%;
        justify-content: normal;
        margin-top: 10px;
    }

    .header>button {
        width: 105px;
        height: 30px;
        font-size: 12px;
    }
}