.top_header {
  max-width: 100%;
  display: grid;
  justify-items: center;
}

.sub_header {
  display: grid;
  width: 90%;
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 24px 0px;
}

.header_button button {
  width: 134px;
  height: 40px;
  border-radius: 10px;
  padding: 24px, 12px, 24px;
  gap: 10px;
  border: none;
  outline: none;
  color: white;
  background: #00a9ff;
  cursor: pointer;
}
.header_line {
  height: 2px;
  background-color: #cbecfd;
}

/* Mobile View */
@media (min-width: 320px) and (max-width: 650px) {
  .top_header {
    background-color: #eef6ff;
  }

  .header img {
    width: 150px;
    width: 150px;
  }

  .header {
    display: grid;
    align-items: center;
    padding: 16px 0px;
  }

  .header button {
    align-self: flex-end;
    width: 120px;
    height: 35px;
    padding: 12px, 24px, 12px, 24px;
    border-radius: 10px;
  }
}

/* Tablet View */
@media (min-width: 601px) and (max-width: 1024px) {
  .header {
    padding: 15px 30px;
  }

  .header img {
    max-height: 60px;
  }

  .header button {
    padding: 12px 24px;
  }
}
