.blog_id_page {
	display: grid;
	/* grid-template-columns: 7fr 2fr; */
	justify-items: center;
}
.blog_hero {
	display: grid;
	row-gap: 30px;
}
.blog_hero p:nth-child(1) {
	display: grid;
	font-family: var(--font-work);
}
.intro p:nth-child(1) {
	color: #00a9ff;
	font-family: var(--font-work);
}
.blog_hero p:nth-child(3) {
	font-family: var(--font-work);
	color: #777777;
}
.blog_hero h2 {
	display: grid;
	font-family: var(--font-roboto);
}
.intro {
	display: grid;
	row-gap: 10px;
}
.hero_over {
	width: 90%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
}
.details {
	display: grid;
	grid-template-columns: 1fr 10fr 2.5fr;
}
.blog_bodyimage {
	padding: 20px 0;
}
.pro_details h5 {
	font-family: var(--font-roboto);
}
.pro_details p {
	font-family: var(--font-work);
	font-size: 14px;
	color: #777777;
}
.lorem {
	display: grid;
	row-gap: 20px;
}
.lorem p {
	color: #777777;
	font-size: 14px;
	line-height: 20px;
}
.pro_details {
	max-width: 100%;
}
.side_bar {
	padding-left: 30px;
	max-width: 269px;
	width: 100%;
}
.read_container {
	padding: 40px 80px;
}

.read_more_text {
	border-bottom: solid 1px #dddddd;
	padding-bottom: 13px;
	color: #777777;
	font-weight: 600;
}

.read_item {
	display: grid;
	grid-auto-flow: column;
	/* gap: 34px; */
	justify-content: space-between;
	padding: 20px 0;
}
.read_prof {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.read_prof_details {
	font-size: 11px;
}
.read_prof_details h4 {
	font-family: var(--font-roboto);
	font-size: 14px;
}
.read_prof_details p {
	font-family: var(--font-work);
}

.read_prof_sub {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	gap: 5px;
}
.read_prof p {
	font-family: var(--font-work);
}
.insurance {
	color: #00a9ff;
	font-weight: 400;
}
.read_item_box {
	max-width: 24rem;
	display: grid;
	row-gap: 10px;
}
.sub_history {
	padding: 40px 0;
	display: grid;
	row-gap: 20px;
}
.sub_history p {
	color: #777777;
	font-size: 14px;
	line-height: 20px;
}
.pic {
	display: grid;
	grid-auto-flow: column;
}
.sections {
	display: grid;
	row-gap: 10px;
}
.sections h3 {
	font-family: var(--font-roboto);
}
.sections h1 {
	font-family: var(--font-roboto);
}
.sections p {
	color: #777777;
}
.number_container {
	display: grid;
	padding: 20px 0;
	gap: 24px;
}

.number_box {
	display: grid;
	grid-auto-flow: column;
	gap: 24px;
	padding: 24px;
	border-radius: 12px;
	border: solid 1px #89cff3;
	align-items: center;
	color: #777777;
	font-size: 14px;
	line-height: 20px;
}
.conclusion ul {
	display: grid;
	row-gap: 10px;
}

ul .b {
	list-style-position: inside;
	display: grid;
	row-gap: 10px;
}

.blog_hero {
	padding: 0px 64px 0px 0px;
	/* overflow-y: auto;
	max-height: 100vh;
	scrollbar-width: thin;
	scrollbar-color: #00a9ff #ffffff; */
}

.blog_hero::-webkit-scrollbar {
	width: 12px;
}

.blog_hero::-webkit-scrollbar-track {
	background: #ffffff;
}

.blog_hero::-webkit-scrollbar-thumb {
	background-color: #00a9ff;
	border-radius: 20px;
	border: 3px solid #ffffff;
}

.side_bar {
	position: sticky;
	top: 0;
	align-self: start;
	padding-left: 30px;
	max-width: 269px;
	width: 100%;
}

.side_bar p.active {
	color: #00a9ff;
	background-color: aqua;
	font-weight: bold;
}
@media (min-width: 320px) and (max-width: 650px) {
	.side_bar {
		/* position: sticky;
    top: 0;
    align-self: start;
    padding-left: 30px;
    max-width: 269px;
    width: 100%; */
		display: none;
	}
}
