/* footer */

.footer {
    margin-top: 20px;
    border-top: 1px solid var(--Primary, #00A9FF);
    display: grid;
    grid-auto-flow: column;
    padding: 20px;
}

.footer img {
    justify-self: center;
}

.mobilefoot {
    display: none;
}

.footerline {
    height: 108px;
    background-color: #CBECFD;
    width:1px;
}

.footer > p {
    height: 108px;
    width: 642px;
}

.info {
    width: 324px;
    height: 108px;
}

.details {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
}

.details img {
    padding: 10px 10px 0px 0px;
}
.details > p {
    font-size: 12px;
}

.bottom {
    background-color: #00A9FF;
    height: 66px;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
}

.copy {
    margin-left: 20px;
}

.terms {
    display: grid;
    grid-auto-flow: column;
    
}

.terms > p {
    margin: 14px;
}

.bottom p {
    color: #FFFFFF;
}

.use {
    justify-self: right;
}

@media (max-width: 480px) {

.footer {
    grid-auto-flow: row;
}

.footer > img {
    display: none;
}

.mobilefoot {
    display: block;
}
.footerline {
    display: none;
}

.footer > p {
    width:312px;
    height: 160px;
}

.bottom {
    grid-auto-flow: row;
}

.terms {
    margin-left: 20px;
}
}