.mainpage {
  overflow: hidden;
}

.faq-container {
  display: grid;

  gap: 20px;
  grid-auto-flow: column;
  justify-content: space-evenly;
  padding: 20px 20px 0px 30px;
}
.left_line {
  border-bottom: 1px solid #00a9ff;
  border-top: 1px solid #00a9ff;
  color: #00a9ff;
  font-family: var(--font-work);
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.faq {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;

  overflow: hidden;

  align-self: center;
}
.faq_border {
  border-radius: 10px;
  border: 1px solid #cbecfd;
  max-width: 688px;
}

.question {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 66px;
}

.question p {
  margin: 0;

  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-work);
}

.answer {
  grid-column: 1 / -1;
  padding: 10px;

  color: #777777;
  display: grid;
  gap: 10px;
}

.answer p {
  margin: 0;
  font-size: 14px;
  font-family: var(--font-work);
}

.rightsection {
  display: grid;
  gap: 20px;
  text-align: center;
  align-self: start;
  justify-items: center;
}

.rightsection p {
  font-size: 16px;

  font-weight: 500;
  max-width: 35rem;
  display: grid;
  text-align: center;
  color: #777777;
  font-family: var(--font-work);
}
.rightsection p:nth-child(1) {
  color: #00a9ff;
}

.specialheading {
  color: #00a9ff;
  font-size: 14px;
  font-weight: 500;

  padding: 5px 0px 5px 0px;
  max-width: fit-content;
  font-family: var(--font-work);
  border-top: 1px solid #00a9ff;
  border-bottom: 1px solid #00a9ff;
}
.rightsection h2 {
  font-size: 40px;
  font-family: var(--font-roboto);
  font-weight: 700;
  max-width: 30rem;
}

.dot {
  color: #00a9ff;
}
.mainpage > img {
  display: none;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .mainpage {
    display: grid;
  }
  .faq-container {
    display: grid;
    grid-auto-flow: row;
  }

  .rightsection {
    grid-row: 1;
  }

  .rightsection > img {
    display: none;
  }
  .mainpage > img {
    display: block;
    place-self: center;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .mainpage {
    display: grid;
    justify-content: center;
    row-gap: 10px;
  }
  .faq-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  }
  .left_line p {
    font-size: 12px;
  }
  .rightsection h2 {
    font-size: 22px;
    max-width: 18rem;
  }

  .rightsection {
    grid-row: 1;
  }
  .rightsection p {
    font-size: 12px;
    max-width: 19rem;
  }

  .rightsection > img {
    display: none;
  }
  .mainpage > img {
    display: block;
    place-self: center;
  }
  .question p {
    font-size: 12px;
    line-height: 15px;
  }
  .answer p {
    font-size: 12px;
    line-height: 15px;
  }
}
