.mainpage {
  overflow: hidden;
}

.faq-container {
  display: grid;
  /* grid-template-columns: 1fr minmax(auto, 464px); */

  gap: 20px;
  grid-auto-flow: column;
  justify-content: space-evenly;
  padding: 20px 20px 0px 30px;
}
.left_line {
  border-bottom: 1px solid #00a9ff;
  border-top: 1px solid #00a9ff;
  color: #00a9ff;
  font-family: var(--font-work);
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.faq {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  /* max-height: 528px; */
  overflow: hidden;
  /* width: 688px; */
  align-self: center;
}
.faq_border {
  /* padding: 10px; */
  border-radius: 10px;
  border: 1px solid #cbecfd;
}

.question {
  display: grid;
  grid-template-columns: 1fr auto; /* Split the question and icon */
  align-items: center;
  padding: 10px;
  /* border-radius: 10px;
  border: 1px solid #cbecfd; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 66px;
}

.question:hover {
  background-color: #cbecfd;
}

.question p {
  margin: 0;
  font-weight: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-work);
}

.answer {
  grid-column: 1 / -1; /* Span the answer across the full width of the question */
  padding: 10px;
  /* border-radius: 10px;
  border: 1px solid #cbecfd; */
  color: #777777;
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.answer p {
  margin: 0;
  font-family: var(--font-work);
}

.rightsection {
  display: grid;
  gap: 20px;
  text-align: center;
  align-self: start;
  justify-items: center;
}

.rightsection p {
  font-size: 16px;

  font-weight: 500;
  max-width: 35rem;
  display: grid;
  text-align: center;
  color: #777777;
  font-family: var(--font-work);
}
.rightsection p:nth-child(1) {
  color: #00a9ff;
}

.specialheading {
  color: #00a9ff;
  font-size: 14px;
  font-weight: 500;
  /* line-height: 16.42px; */
  padding: 5px 0px 5px 0px;
  max-width: fit-content;
  font-family: var(--font-work);
  border-top: 1px solid #00a9ff; /* Add a top border */
  border-bottom: 1px solid #00a9ff; /* Add a bottom border */
  /* display: inline-block;  Ensure the borders fit the text length */
}
.rightsection h2 {
  font-size: 40px;
  font-family: var(--font-roboto);
  font-weight: 700;
  max-width: 30rem;
}

.dot {
  color: #00a9ff;
}
.mainpage > img {
  display: none;
}
/* tablet media query */
@media (min-width: 650px) and (max-width: 1024px) {
  .mainpage {
    display: grid;
  }
  .faq-container {
    display: grid;
    grid-auto-flow: row;
  }

  .rightsection {
    grid-row: 1;
  }

  .rightsection > img {
    display: none;
  }
  .mainpage > img {
    display: block;
    place-self: center;
  }
}
/* mobile media query */
@media (min-width: 320px) and (max-width: 650px) {
  .mainpage {
    display: grid;
    justify-content: center;
    row-gap: 10px;
  }
  .faq-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  }
  .left_line p {
    font-size: 12px;
  }
  .rightsection h2 {
    font-size: 22px;
    max-width: 18rem;
  }

  .rightsection {
    grid-row: 1;
  }
  .rightsection p {
    font-size: 12px;
    max-width: 19rem;
  }

  .rightsection > img {
    display: none;
  }
  .mainpage > img {
    display: block;
    place-self: center;
  }
  .question p {
    font-size: 12px;
    line-height: 15px;
  }
}

/* @media (max-width: 480px) {
  .faq-container {
    
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    padding: 10px; 
  }

  .faq {
    width: 100%; 
    max-height: none; 
    overflow-y: visible; 
  }

  .question {
    grid-template-columns: 1fr auto;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    width: 312px;
  }

  .answer {
    grid-column: 1 / -1;
    padding: 10px;
    margin-top: 10px;
    width: 312px;
  }

  .rightsection {
    grid-row: 1;
    width: 312px;
    gap: 0;
    text-align: center;
    margin-top: 20px;
  }

  .specialheading {
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .rightsection > img {
    display: none;
  }

  .mainpage > img {
    display: block;
  }
} */
